.App {
  width: 100%;
  text-align: center;
  background: linear-gradient(
          90deg,
          rgb(0, 22, 22) 0%,
          rgb(56, 1, 1) 94%
      );
}

button{
  background-image: linear-gradient(to right, rgb(12, 92, 92) , rgba(222,66,66,1));
  transition: transform 0.3s ease;
  margin-top : 25px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
  transform: scale(1.1);
}
input{
  transition: transform 0.3s ease;
}
input:hover{
  transform: scale(1.04);
}
body{
  background: linear-gradient(
        90deg,
        rgb(2, 53, 53) 0%,
        rgb(83, 2, 2) 94%
    );
}

